.flex-row {
  display: flex;
  flex-direction: row;
}

.flew-column {
  display: flex;
  flex-direction: column;
}

.start-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.start-end {
  justify-content: flex-start;
  align-items: flex-end;
}

.end-start {
  justify-content: flex-end;
  align-items: flex-start;
}

.end-end {
  justify-content: flex-end;
  align-items: flex-end;
}

